<!DOCTYPE html>
<html>
  <head>
    <title>Stress</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row justify-content-center">
         <div class="col-5">
          <h1>Dealing with Stress</h1>
         </div>
        </div>
        <div class="row justify-content-center links">
        <%= link_to 'Click for Calming Images' '#' %>
        </div>
      </div>

    </header>

    <br>

    <br class="clear"

    <%= yield %>
    <p>This is some test text</p>
  </body>
</html>
