<!DOCTYPE html>
<html>
  <head>
    <title>Stress</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <div class="container">
        <div class="row justify-content-center">
         <div class="col-5">
          <h1>Dealing with Stress</h1>
         </div>
        </div>
        <div class="row justify-content-center links">
          <%= link_to "Image", images_path %>
        </div>
      </div>

    </header>

    <br>
    <br class="clear">

    <div class="container">
      <%= yield %>
    </div>

    <div class="footer">
      <div class="container">
        <div class="row">
          <div class="col-12 footer-blurb">
            Created by <a href="https://joeholley.netlify.com">[Joe Holley]</a><br />
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
